body {
  background-image: url('https://media.istockphoto.com/vectors/gradient-abstract-fluid-background-design-abstract-design-template-vector-id1177841759?b=1&k=6&m=1177841759&s=612x612&w=0&h=bEQpZ2s1NGBKzdwlRBXkw0XkqyAE44vKmYVbDCCB9fY=');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}